# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.idea
.gradle
app/.externalNativeBuild
app/build
build
*.iml
.externalNativeBuild
local.properties
src/Game/assets

*.blend1
*.blend2

Engine/generated_glTF_files/*
.vscode/.ropeproject

Engine/assets/HLOD/*
Project/*
tags
*.swp
*.swo
*.swn
bin/*
lib/*
*.core
*.spv
source/demo/chess/bin/chess
.cache
*.apk
./freetype/*
./freetype/CMakeLists.txt ./freetype/LICENSE.TXT ./freetype/Makefile ./freetype/README ./freetype/README.git ./freetype/autogen.sh ./freetype/builds ./freetype/config.mk ./freetype/configure ./freetype/devel ./freetype/docs ./freetype/include ./freetype/meson.build ./freetype/meson_options.txt ./freetype/modules.cfg ./freetype/objs ./freetype/src ./freetype/subprojects ./freetype/tests ./freetype/vms_make.com
